body {background-color: #9EA3B0;}

#carouselExampleControls {
    height: 600px;
    width: 600px;
    margin: auto;
    padding: 20px;
 }

 h1 {
     text-align: center;
     color: #0D1F2D;
    padding: 10px;}

p {
    text-align: center;
    color: #0D1F2D;
}     

.card-group {
    margin: auto;
    padding: 20px;
    height: 200px;
    width: 800px;
    column-gap: 20px;
}




